.jumbotron {
  padding: 2rem 1rem;
  background-color: rgb(243, 243, 243);
  background: url(img/Shingeki.jpg);
  padding: 2rem;
  height: 540px;
  background-size: cover;
}
.jumbotron .display-4 {
  color: antiquewhite;
  font-size: 78px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.jumbotron .display-5 {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.img-fluid {
  padding: 3rem 1rem;
  background-position-x: center;
}
